body {
    background-color: #c7e6ef;   /* light blue background */
    margin: 0;
    font-family: "Trebuchet MS", sans-serif;
}

/* Foreground paper */
.container {
    background-color: white;
    width: 75%;
    margin: 40px auto;   /* centers horizontally */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}